<h1><%= t "forgot_password.forgot" %></h1>
<%= t "forgot_password.paragraph" %>
<br/>
<br/>
<% form_tag password_resets_path do %>
<%= label_tag t "common.email" %>
<br/>
<%= text_field_tag "email" %>
<br/>
<br/>
<%= submit_tag t "forgot_password.password_reset" %>
<% end %>