<% div_for comment do %>
<div class="comment_display">
    <div class="comment_info">
        <% if comment.user_id == 0 %>
        <%= comment.author %>
        <% else %>
        <% @profile_image = ProfileImage.find_by_user_id(comment.user_id) %>
        <% if !@profile_image.nil? %>
        <p>
            <%= image_tag(@profile_image.public_filename(:thumb)) %>
        </p>
        <% end %>
        <p>
            <%= link_to (comment.user.login), comment.user %>
        </p>
        <% end %>
    </div>
    <div class="comment_content">
        <%= comment.created_at.strftime("%d. %m. %Y um %H:%M Uhr") %>
        <br/>
        <%= simple_format(comment.body) %>
        <% if current_user %>
        <% if ((current_user.id == @post.user_id) || (current_user.id == comment.user_id)) %>
        <br/>
        <%= link_to "Löschen", :controller => "/comments", :action => "destroy", :id => comment.id %>
        <% end %>
        <% end %>
    </div>
</div>
<% end %>