<% form_for @user_common do |f| %>
<%= f.error_messages %>

<p>    
<%= t "user.gender" %>
<%= f.select(:gender, [['Weiblich'], ['Männlich']]) %>
</p>
<p>
<%= t "user.title" %><br></br>
<%= f.text_field :title, :class  => 'tb'  %>
</p>

<%= t "user.firstname" %><br></br>
<%= f.text_field :firstname, :class  => 'tb'  %>

<p>
<%= t "user.lastname" %><br></br>
<%= f.text_field :lastname, :class  => 'tb'  %>
</p>
<p>
<%= t "user.street" %><br></br>
<%= f.text_field :street, :class  => 'tb'  %>
</p>
<p>
<%= t "user.zip" %><br></br>
<%= f.text_field :zip, :class  => 'tb'  %>
</p>
<p>
<%= t "user.city" %><br></br>
<%= f.text_field :city, :class  => 'tb'  %>
</p>
<p>
<%= t "user.district" %><br></br>
<%= f.text_field :district, :class  => 'tb'  %>
</p>
<p>
<%= t "user.administrative_area" %><br></br>
<%= f.text_field :administrative_area, :class  => 'tb'  %>
</p>
<p>
<%= t "user.state" %><br></br>
<%= f.text_field :state, :class  => 'tb'  %>
</p>
<p>
<%= t "user.optional_address_attributes" %><br></br>
<%= f.text_field :optional_address_attributes, :class  => 'tb'  %>
</p>
<p>
<%= t "user.www" %><br></br>
<%= f.text_field :www, :class  => 'tb'  %>
</p>
<p>
<%= t "user.phone" %><br></br>
<%= f.text_field :phone, :class  => 'tb'  %>
</p>
<p>
    <%= f.submit "Submit" %>
</p>
<% end %>
