<% form_for @user_common do |f| %>
<%= f.error_messages %>
<dl class="dl_form">
    <dt class="dt_form">
        <%= t "user.gender" %>
    </dt>
    <dd class="dd_form">
        <%= f.select(:gender, [['Weiblich'], ['Männlich']]) %>
    </dd>
    <dt class="dt_form">
        <%= t "user.title" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :title %>
    </dd>
    <dt class="dt_form">
        <%= t "user.firstname" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :firstname %>
    </dd>
    <dt class="dt_form">
        <%= t "user.lastname" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :lastname %>
    </dd>
<!--    <dt class="dt_form">
        <%= t "user.street" %>
    </dt>
    <dd class="dd_form">
        <%= text_field_tag "street_validation" %>
    </dd>
    <dt class="dt_form">
        <%= t "user.zip" %>
    </dt>
    <dd class="dd_form">
        <%= text_field_tag "zip_validation" %>
    </dd>
    <dt class="dt_form">
        <%= t "user.city" %>
    </dt>
    <dd class="dd_form">
        <%= text_field_tag "city_validation" %>
        <%= button_to_function t("user.address_validation"), "validateAdress(); return false;" %>
    </dd> -->
    <dt class="dt_form">
        <%= t "user.street" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :street %>
    </dd>
    <dt class="dt_form">
        <%= t "user.zip" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :zip %>
    </dd>
    <dt class="dt_form">
        <%= t "user.city" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :city %>
    </dd>
	<dt class="dt_form">
        <%= t "user.district" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :district %>
    </dd>
    <dt class="dt_form">
        <%= t "user.administrative_area" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :administrative_area %>
    </dd>
    <dt class="dt_form">
        <%= t "user.state" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :state %>
    </dd>
<!--    <dt class="dt_form">
        <%= t "user.optional_address_attributes" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :optional_address_attributes %>
    </dd> -->
    <dt class="dt_form">
        <%= t "user.www" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :www %>
    </dd>
    <dt class="dt_form">
        <%= t "user.phone" %>
    </dt>
    <dd class="dd_form">
        <%= f.text_field :phone %>
    </dd>
</dl>
<p>
    <%= f.submit "Submit" %>
</p>
<% end %>
