
<div class="flat_edit">
	<p><%= link_to t('flat.overview'), flats_path %></p>
<% form_tag set_flat_assign_values_path do %>
<%= hidden_field_tag :flat_id, '', :value  =>  @flat.id %>
<%# if current_user && current_user.role?('admin') %>

<%= hidden_field_tag :user_id,'', :value => current_user.id %>

<p>
  <strong><%= label_tag :title %></strong><br />
  <%= text_field_tag :title, @flat.title, :class => 'tb' %>
</p>
<p>
  <strong><%= label_tag :address %></strong><br />
  <%= text_field_tag :address, @flat.address, :class => 'tb' %>
</p>

<% if request.url.to_s.include?('edit') %>

<% unless all_assigns('Flat').empty? %>
<% all_assigns('Flat').each do |flat_assign| %>

<p>
	<span style="font-weight:bold"><%= flat_assign.assign_names.find_by_language(get_locale.to_s).name %>
		<% if flat_assign.html_attribute.to_s.eql?('mail_to') %>
		(<%= t('common.email') %>)
		<% end %>	
		<% if flat_assign.html_attribute.to_s.eql?('link_to') %>
		<script type="text/javascript" charset="utf-8">
			function proof_link(){
				if(document.getElementById('user_common_www').value != ''){
					window.open('http://' + document.getElementById('user_common_www').value);
				}
			}
		</script>
		(<%= t('common.url') %> -> <a href="#" onclick="proof_link();return false;"><%= t('common.proof_link') %></a>)
		<% end %>
	</span> 
	<br/>
	<%= render '/assigns/assigns', :assign  => flat_assign  %>
</p>

<% end %>
<% end %>

<% end %>

<p><%= submit_tag "Submit" %></p>

<% end %>

* <%= t('common.duty') %>

</div>


