<% title "Edit Flat" %>

<%= render :partial => 'form' %>

<script type="text/javascript">

var swfu;
var max_file_size = 15 - <%= @photos.size %>;
 
window.onload = function(){
	swfu = new SWFUpload({
		// Create the custom swfupload_photos_path in the routes.rb file
		upload_url: '<%= swfupload_photos_path -%>?token=<%= @flat.id %>;type=Flat',
		// flash_url : '/assets/swfupload_f9.swf',
 
		file_size_limit: '0.5 MB',
		file_types: '*',
		file_types_description: 'All',
		file_upload_limit: max_file_size,
		file_queue_limit: '0',
 
		file_queue_error_handler: fileQueueError,
		file_dialog_complete_handler: fileDialogComplete,
		upload_progress_handler: uploadProgress,
		upload_error_handler: uploadError,
		upload_success_handler: uploadSuccess,
		upload_complete_handler: uploadComplete,
 
		custom_settings: {
			upload_target: 'divFileProgressContainer'
		},
 
		// Button Settings
		button_image_url: "/images/spyglass.png",
		button_placeholder_id: "spanButtonPlaceholder",
		button_width: 400,
		button_height: 40,
		button_text: '<span class="button"><%= t("photo.upload") %>  ' + max_file_size + ' <%= t("photo.kind") %></span>',
		button_text_style: '.button { font-family: Verdana, Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,sans-serif; font-size: 10px; font-weight:bold; }',
		button_text_top_padding: 12,
		button_text_left_padding: 15,
		button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
		button_cursor: SWFUpload.CURSOR.HAND,
 
		// Flash Settings
		flash_url: "/assets/swfupload.swf",
 
		custom_settings: {
			upload_target: "divFileProgressContainer"
		},
 
		debug: false
 
	});
};

</script>
 
<div class="flat_photo_upload">
	<% unless @photos.size > 14 %>
	<div id="old_image_upload_form" class="upload_form_for_flat">
		<% form_for(:photo, :url => photos_path,
		:html => { :multipart => true }) do |f| -%>
		<%= hidden_field :container_id,'', :value => @flat.id %>
		<%= hidden_field :container_type,'', :value => 'Flat' %>
		<p>
		    <%= f.file_field :uploaded_data %>
		</p>
		<p>
		    <%= submit_tag t("common.upload") %>
		</p>
		<% end -%>
	</div>
	<div id="new_image_upload_form">
		<%= render '/photos/upload_form' %>
	</div>
	<% end %>
	<div id="flat_thumbnails">
		<%= render 'flat_thumbnails' %>
	</div>
 
</div>
 
 
<div id="divFileProgressContainer" style=" float:right; margin-right:145px;">
</div>


<% if current_user && current_user.role?('admin') %>

<div class="flat_tags">
	<h2><% t('flat.what_are_tags') %></h2>
	<p><% t('flat.tag_description') %></p>
	<div class="loading"></div>
	<div id="not_tags_of_flat">
		<% form_tag '/flats/add_tags', :id => "add_tags" do %>
		<% unless @not_in_flat_tags.empty?  %>
		<br/>
		<h2><%= t('tag.add_tags_to_flat') %></h2>
		<div class="new_click_boxes">
			<% @not_in_flat_tags.each do |tag|  %>
			<span class="clickable_items_to_add" id="<%= tag.id %>"><%= tag.tag_names.find_by_language(I18n.locale.to_s).name %></span>
			<% end %>
		</div>
		<div class="plain_old_checkboxes">
			<%= checklist_tag(@not_in_flat_tags)  %>
		</div>
		<%= hidden_field_tag 'id', @flat.id %>
		<%= submit_tag t("tag.add_to_flat"), :class => "clear_both" %>
		<% end %>
		<% end %>
	</div>

	<div id="tags_of_flat" style="clear:both;">
		<% form_tag '/flats/remove_tags', :id => "remove_tags" do %>
		<% unless (@flat.tags).empty?  %>
		<br/>
		<h2><%= t('tag.remove_tags_from_flat') %></h2>
		<div class="new_click_boxes">
			<% for tag in (@flat.tags) do %>
			<span class="clickable_items_to_remove" id="<%= tag.id %>"><%= tag.tag_names.find_by_language(I18n.locale.to_s).name %></span>
			<% end %>
		</div>
		<div class="plain_old_checkboxes">
			<%= checklist_tag(@flat.tags)  %>
		</div>
		<%= hidden_field_tag 'id', @flat.id %>
		<%= submit_tag t("tag.remove_from_flat"), :class => "clear_both" %>
		<% end %>
		<% end %>
	</div>
</div>

<% end %>

<div id="popupContact" style="display: none; position: fixed; text-align:center; position: absolute; background: #FFFFFF; border: 5px solid #000000; z-index: 2; padding: 12px; font-size: 13px; ">
	<h2><%= t("photo.description") %></h2>
	<% form_tag '', :class => 'id_of_photo', :method  => 'put' do %>
	<br/>
	<p>
		<%= hidden_field :container_type,'', :value => 'Flat' %>
		<%= text_area :description, '', :class  => 'tb_area' %>
	</p>
	<p>
		<%= submit_tag  %>
		<button type="button" id="popupContactClose">Abbrechen</button>
	</p>
	<% end %>
</div>

