<% title "Flat" %>

<%# render :partial => 'write_message' %>

<% unless get_flats_from_tags(@flat).empty? %>
<div class="flat_similar">
	<h1><%= t('flat.other_with_category') %></h1>
	<p></p>
	<div class="flat_similar_entry">
		<% get_flats_from_tags(@flat).each do |flat| %>
				<h2><%= link_to (h flat.title), flat_path(flat) %></h2>
				<%= t('flat.publish_date') %>:<%= flat.updated_at.strftime(" %d.%m.%Y ") %>
		<% end %>
	</div>
</div>	
<% end %>


<% if current_user && (current_user.role?('admin') || current_user.id.to_s.eql?(@flat.user_id.to_s)) %>
<p>
	<%= link_to t('common.edit'), edit_flat_path(@flat) %>
	<%= link_to t('common.delete'), flat_path(@flat), :confirm  => t('common.confirm'), :method  => :delete %>
</p>
<% end %>
<h3>
<% form_tag '/flats/index', :id => "flat_with_category_form" do  %>
	<% if get_locale.to_s.eql?('de') %>
		<%= t('flat.quick_nav') %> <%= select_tag :flat_category, options_from_collection_for_select(Tag.new.to_a + Tag.find_all_by_taggable_type('Flat'), :id, :german_name),  :class => 'flat_with_category' %>
		<% else %>
		<%= t('flat.quick_nav') %> <%= select_tag :flat_category, options_from_collection_for_select(Tag.new.to_a + Tag.find_all_by_taggable_type('Flat'), :id, :english_name), :class => 'flat_with_category' %>
		<% end %>
		<% end %>
	</h3>
	<p></p>
<% unless @photos.size == 0 %>
<h2><%= link_to t('common.image_gallery'), "/show_flat_photos?flat_id=#{@flat.id}", :class => 'popup', :rel => 'popupContactPhotos' %></h2>
<p></p>
<% end %>



<div class="flat_show">
	
<h2><%= @flat.title %></h2>
<h3><%= t('flat.publish_date') %>: <%= @flat.updated_at.strftime(" %d.%m.%Y ") %></h3>
<h3><%= t('flat.posted_by') %>: <%= link_to User.find(@flat.user_id).login, user_url(User.find(@flat.user_id)) %> (<%= mail_to User.find(@flat.user_id).email %>) </h3>
<dl>
<% @_assigns.each do |assign| %>
	<% unless UserAssignValue.find_all_by_assignable_id_and_assign_id(@flat.id, assign.id).empty? %>
		<dt><strong><%= assign.assign_names.find_by_language(get_locale.to_s).name %></strong></dt>
			<% if !assign.html_attribute.to_s.eql?('mail_to') && !assign.html_attribute.to_s.eql?('link_to') %>
			<dd><%= simple_format(h UserAssignValue.find_all_by_assignable_id_and_assign_id(@flat.id, assign.id).map(&:value).join(', ')) %></dd>
			<% else %>
				<% if assign.html_attribute.to_s.eql?('mail_to') %>
				<dd><p><%= mail_to UserAssignValue.find_all_by_assignable_id_and_assign_id(@flat.id, assign.id).first.value %></p></dd>
				<% else assign.html_attribute.to_s.eql?('link_to') %>
				<dd><p><%= link_to UserAssignValue.find_by_assignable_id_and_assign_id(@flat.id, assign.id).value, "http://#{UserAssignValue.find_by_assignable_id_and_assign_id(@flat.id, assign.id).value}", :popup  => true %></p></dd>
				<% end %>
			<% end %>
	<% end %>
<% end %>
</dl>
</div>
<div class="clear">
<%= link_to t('flat.overview'), flats_path %>
</div>



<div id="popupContactPhotos" style="display: none; position: fixed; position: absolute; background: #FFFFFF; border: 5px solid #000000; z-index: 99999999; padding: 12px; font-size: 13px; width:900px; height:600px; overflow:auto; ">
<% javascript 'jquery.galleriffic.init', 'jquery.galleriffic', 'jquery.opacityrollover' %>
<% stylesheet 'galleriffic/galleriffic-2' %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	//hide none js div for image gallery
	$('#all_images').remove();
});
</script>

<h2><%= link_to t('common.close'), '#', :id => 'popupContactClose', :rel => 'popupContactPhotos'  %></h2>

<div id="all_images">
	<ul>
		<% @photos.each do |photo| %>
		<li>
			<div class="clear"><a href="<%= photo.public_filename() %>" title="<%= photo.filename %>">
				<img src="<%= photo.public_filename(:medium) %>" alt="<%= h(photo.description) %>" />
			</a>
			<div class="image_description_without_js"><%= h(photo.description) %></div></div>
		</li>
		<% end %>
	</ul>
</div>


<% unless @photos.empty? %>
<% @photos.each do |photo| %>
	<% unless photo.id == @photos.first.id %>
		<% if photo.width < 1000 %>
			<a rel="shadowbox[gruppe];options={slideshowDelay:5}" href="<%= photo.public_filename() %>"></a>
		<% else %>
			<a rel="shadowbox[gruppe];options={slideshowDelay:5}" href="<%= photo.public_filename(:max) %>"></a>
		<% end %>
	<% end %>
<% end %>
<!-- Start Advanced Gallery Html Containers -->
<div id="gallery" class="slide_show_content">
	<div id="controls" class="controls"></div>
	<div class="slideshow-container">
		<div id="loading" class="loader"></div>
		<div id="slideshow" class="slideshow"></div>
	</div>
	<div id="caption" class="caption-container"></div>
</div>
<div id="thumbs" class="navigation">
	<ul class="thumbs noscript">
		<% @photos.each do |photo| %>
		<li>
			<a class="thumb" name="leaf" href="<%= photo.public_filename(:large) %>" title="Title #0">
				<img src="<%= photo.public_filename(:thumb) %>" alt="Title #0" />
			</a>
			<div class="caption">
				<div class="image-desc"><%= h(photo.description) %></div>
			</div>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
</div>