<% title t('job.all')%>
<div class="left">
<p><%= link_to t('job.new'), new_job_path %></p>

<h1><%= t('job.recent') %></h1>
<br/>
<dl>
<% @jobs.each do |job| %>
<% if job.active || (current_user && current_user.role?('admin'))%>
		<dt>
			<h2><%= link_to (h job.title), job_path(job) %></h2>
			<%= t('job.publish_date') %>:<%= job.puplish_date.strftime(" %d.%m.%Y ") %><br/>
		</dt>
		<dd>
		<% unless job.active %><h3>Inaktiv</h3><% end %>
		<dl>
		<% job.job_assigns.each do |job_assign| %>
			<% if job_assign.visible %>
				<% unless job_assign.user_assign_values.find_all_by_assignable_id(job.id).to_s.eql?('') %>
					<dt>
						<strong><%= h job_assign.assign_names.find_by_language(get_locale.to_s).name + ": " %></strong>
					</dt>
					<dd style="margin-top:-10px;">
						<%= simple_format(h job_assign.user_assign_values.find_all_by_assignable_id(job.id).map(&:value).join(', ')) %>
					</dd>
				<% end %>
			<% end %>
		<% end %>
		</dl>
		</dd>
		<div style="height:20px;"></div>
<% end %>
<% end %>
</dl>
</div>

<div class="categoies_for_assigns">
	<% if request.url.include?('job_category') %>
		<h1><%= t('tag.actual') %>: <%= Tag.find(request.url.scan(/job_category=(\w+)/)).first.tag_names.find_by_language('de').name %></h1>
		<p></p>
		<div style="padding:5px; float:left;">
			<div class="categoy_for_assigns">
				<h2><%= link_to t("job.all"), jobs_path %></h2>
			</div>
		</div>
		<div style="padding:5px; float:left; width:250px;">
			<div class="categoy_for_assigns">
				<h2><%= link_to t("common.back"), jobs_path %></h2>
			</div>
		</div>
	<% else %>
		<h1><%= t('tag.actual') %>: <%= t('common.all') %></h1>
		<p></p>
		<div style="padding:5px; float:left; width:400px;">
			<div class="categoy_for_assigns">
				<h2><%= link_to t("job.all"), jobs_path %></h2>
			</div>
		</div>
	<% end %>


	<% @tags.each do |tag| %>
	<div style="padding:5px; float:left">
		<div class="categoy_for_assigns">
			<h2><%= link_to tag.tag_names.find_all_by_tag_id_and_language(tag.id, get_locale.to_s).first.name, :job_category => tag %></h2>
		</div>
	</div>
	<% end %>
</div>