<% form_for @group do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t('common.name') %><br />
    <%= f.text_field :name, :class  => 'tb' %>
  </p>
  <p>
    <%= f.label t('common.description') %><br />
    <%= f.text_area :description, :class  => 'tb_area_extended' %>
  </p>
  <p><%= f.submit t('common.submit') %></p>
<% end %>
