<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t("group.name") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t("group.category") %><br />
	<%= collection_select(:group, :group_category_id, GroupCategory.all, :id, :name) %>
  </p>
  <p>
    <%= f.label t("group.description") %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.check_box :need_confrim %>
    <%= f.label t("group.need_confirm") %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>