<% title "Group" %>

<h2>
  <%=h @group.name %>
</h2>
(<%= t('group.founder') %><%= ": " %><%= link_to @group.owner.login, user_path(@group.owner) %>)
<%= simple_format(h @group.description) %>


<p>
  <%= link_to t('common.edit'), edit_group_path(@group) %> |
  <%= link_to t('common.delete'), @group, :confirm => 'Are you sure?', :method => :delete %>
</p>
