<%= render :partial => 'write_message' %>


<div class="account_info">
    <ul>
        <li>
            <%= t "common.login_name" %>: <%=h @user.login %>
        </li>
        <li>
            <% if @user.last_login_at %>
            <%= t "profile.last_login" %>: <%= l @user.last_login_at, :format => :long %>
            <% end %>
        </li>
        <li>
            <%= t "common.email" %>: <%= mail_to h@user.email %>
        </li>
        <li>
            <div id="button_popup">
                <a type="submit"><%= t("common.send_message_to_user") %></a>
            </div>
        </li>
    </ul>
</div>

<div class="profile_image">
    <% if @profile_image %>
    <%= image_tag(@profile_image.public_filename()) %>
    <% end %>
</div>

<script type="text/javascript">
    //SETTING UP OUR POPUP
    //0 means disabled; 1 means enabled;
    var popupStatus = 0;
    //loading popup with jQuery magic!
    function loadPopup(){
        //loads popup only if it is disabled
        if (popupStatus == 0) {
            $("#backgroundPopup").css({
                "opacity": "0.9"
            });
            $("#backgroundPopup").fadeIn("fast");
            $("#popupContact").fadeIn("fast");
            
            popupStatus = 1;
        }
    }
    
    //disabling popup with jQuery magic!
    function disablePopup(){
        //disables popup only if it is enabled
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("fast");
            $("#popupContact").fadeOut("fast");
            popupStatus = 0;
        }
    }
    
    //centering popup
    function centerPopup(){
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#popupContact").height();
        var popupWidth = $("#popupContact").width();
        //centering
        $("#popupContact").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6
        
        $("#backgroundPopup").css({
            "height": 1000
        });
        
    }
    
    //CONTROLLING EVENTS IN jQuery
    $(document).ready(function(){
    
        //LOADING POPUP
        //Click the button event!
        $("#button_popup").click(function(){
            //centering with css
            centerPopup();
            //load popup
            loadPopup();
        });
        
        //CLOSING POPUP
        //Click the x event!
        $("#popupContactClose").click(function(){
            disablePopup();
        });
        //Click out event!
        $("#backgroundPopup").click(function(){
            disablePopup();
        });
        
    });
</script>
<div class="personal_info">
	<h1><%= t "common.my_personals" %></h1>
	<dl>
		<% if !(@user_common.gender.to_s == "") %>
		<dt>
			<%= t "user.gender" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.gender %>
		</dd>
		<% end %>
		<% if !(@user_common.title.to_s == "") %>
		<dt>
			<%= t "user.title" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.title %>
		</dd>
		<% end %>
		<% if !((@user_common.firstname.to_s == "") && (@user_common.lastname.to_s == "")) %>
		<dt>
			<%= t "user.name" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.firstname %>
			<%= " " %>
			<%= @user_common.lastname %>
		</dd>
		<% end %>
		<% if !(@user_common.street.to_s == "") %>
		<dt>
			<%= t "user.street" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.street %>
		</dd>
		<% end %>
		<% if !(@user_common.zip.to_s == "") %>
		<dt>
			<%= t "user.zip" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.zip %>
		</dd>
		<% end %>
		<% if !(@user_common.city.to_s == "") %>
		<dt>
			<%= t "user.city" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.city %>
		</dd>
		<% end %>
		<% if !(@user_common.district.to_s == "") %>
		<dt>
			<%= t "user.district" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.district %>
		</dd>
		<% end %>
		<% if !(@user_common.administrative_area.to_s == "") %>
		<dt>
			<%= t "user.administrative_area" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.administrative_area %>
		</dd>
		<% end %>
		<% if !(@user_common.state.to_s == "") %>
		<dt>
			<%= t "user.state" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.state %>
		</dd>
		<% end %>
		<% if !(@user_common.www.to_s == "") %>
		<dt>
			<%= t "user.www" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.www %>
		</dd>
		<% end %>
		<% if !(@user_common.phone.to_s == "") %>
		<dt>
			<%= t "user.phone" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.phone %>
		</dd>
		<% end %>
	</dl>
</div>
<div class="profile_entries">
	<h1><%= t "common.profile_entries" %></h1>
	<a href="#" onclick="Element.toggle('profile_entries_new')"><%= t("common.write_new_profile_entries") %></a>
	<div id="new_entry">
		<%= render :partial => "profile_entries/new_entry" %>
	</div>
	<div id="profile_entry_display_all">
		<%= render :partial => @user.profile_entries.reverse %>
	</div>
</div>
