<%= render :partial => 'write_message' %>
<%= javascript 'mail', 'toggle_comment', 'jquery.url_utils', 'pagination', 'application' %>

<div class="personal_info">
	<h1><%= t "common.my_personals" %></h1>
	<dl>
		<% if !(@user_common.gender.to_s == "") %>
		<dt>
			<%= t "user.gender" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.gender %>
		</dd>
		<% end %>
		<% if !(@user_common.title.to_s == "") %>
		<dt>
			<%= t "user.title" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.title %>
		</dd>
		<% end %>
		<% if !((@user_common.firstname.to_s == "") && (@user_common.lastname.to_s == "")) %>
		<dt>
			<%= t "user.name" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.firstname %>
			<%= " " %>
			<%= @user_common.lastname %>
		</dd>
		<% end %>
		<% if !(@user_common.street.to_s == "") %>
		<dt>
			<%= t "user.street" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.street %>
		</dd>
		<% end %>
		<% if !(@user_common.zip.to_s == "") %>
		<dt>
			<%= t "user.zip" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.zip %>
		</dd>
		<% end %>
		<% if !(@user_common.city.to_s == "") %>
		<dt>
			<%= t "user.city" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.city %>
		</dd>
		<% end %>
		<% if !(@user_common.district.to_s == "") %>
		<dt>
			<%= t "user.district" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.district %>
		</dd>
		<% end %>
		<% if !(@user_common.administrative_area.to_s == "") %>
		<dt>
			<%= t "user.administrative_area" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.administrative_area %>
		</dd>
		<% end %>
		<% if !(@user_common.state.to_s == "") %>
		<dt>
			<%= t "user.state" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.state %>
		</dd>
		<% end %>
		<% if !(@user_common.www.to_s == "") %>
		<dt>
			<%= t "user.www" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.www %>
		</dd>
		<% end %>
		<% if !(@user_common.phone.to_s == "") %>
		<dt>
			<%= t "user.phone" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.phone %>
		</dd>
		<% end %>
	</dl>
</div>




<div class="info_and_entry">
	<div class="account_info">
		<ul>
			<li>
				<%= t "common.login_name" %>: <%=h @user.login %>
			</li>
			<li>
				<% if @user.last_login_at %>
				<%= t "profile.last_login" %>: <%= l @user.last_login_at, :format => :long %>
				<% end %>
			</li>
			<li>
				<%= t "common.email" %>: <%= mail_to h@user.email %>
			</li>
			<% if current_user %>
			<li>
				<div id="button_popup">
					<a href="/sent/new?user=<%= @user.id %>"><%= t("common.send_message_to_user") %></a>
				</div>
			</li>
			<% end %>
		</ul>
	</div>


	<div class="profile_entries">
		<h1><%= t "common.profile_entries" %></h1>
		<a href="#" id="new_entry_link"><%= t("common.write_new_profile_entries") %></a>
		<div id="new_entry">
			<%= render :partial => "profile_entries/new_entry" %>
		</div>
		<% if @entries.size > 0 %>
		<div id="profile_entry_display_all">
			<%= render :partial => 'profile_entries/profile_entries' %>
		</div>
		<% end %>
	</div>
</div>



<div class="profile_image">
    <% if @profile_image %>
    <%= image_tag(@profile_image.public_filename()) %>
    <% end %>
</div>
