<% if current_user %>
<%= render :partial => 'write_message' %>
<% end %>

<div class="personal_info">
	<% if current_user && !current_user.id.to_s.eql?(@user.id.to_s) %>
	<% if !is_friend_of_current(@user.id) || is_not_in_request_for_friendship(@user) %>
	<%= link_to t('user.add'), add_friendship_path(:friend_id  => @user.id) %>
	<% end %>
	<% end %>
	<h1><%= t "user.my_personals" %></h1>
	<dl>
		<% if !(@user_common.gender.to_s == "") %>
		<dt>
			<%= t "user.gender" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.gender %>
		</dd>
		<% end %>
		<% if !(@user_common.title.to_s == "") %>
		<dt>
			<%= t "user.title" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.title %>
		</dd>
		<% end %>
		<% if !((@user_common.firstname.to_s == "") && (@user_common.lastname.to_s == "")) %>
		<dt>
			<%= t "user.name" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.firstname %>
			<%= " " %>
			<%= @user_common.lastname %>
		</dd>
		<% end %>
		<% if !(@user_common.street.to_s == "") %>
		<dt>
			<%= t "user.street" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.street %>
		</dd>
		<% end %>
		<% if !(@user_common.zip.to_s == "") %>
		<dt>
			<%= t "user.zip" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.zip %>
		</dd>
		<% end %>
		<% if !(@user_common.city.to_s == "") %>
		<dt>
			<%= t "user.city" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.city %>
		</dd>
		<% end %>
		<% if !(@user_common.district.to_s == "") %>
		<dt>
			<%= t "user.district" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.district %>
		</dd>
		<% end %>
		<% if !(@user_common.administrative_area.to_s == "") %>
		<dt>
			<%= t "user.administrative_area" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.administrative_area %>
		</dd>
		<% end %>
		<% if !(@user_common.state.to_s == "") %>
		<dt>
			<%= t "user.state" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.state %>
		</dd>
		<% end %>
		<% if !(@user_common.www.to_s == "") %>
		<dt>
			<%= t "user.www" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.www %>
		</dd>
		<% end %>
		<% if !(@user_common.phone.to_s == "") %>
		<dt>
			<%= t "user.phone" %>
			<%= ":" %>
		</dt>
		<dd>
			<%= @user_common.phone %>
		</dd>
		<% end %>
	</dl>
	<% unless @user.friendships.empty? %>
	<h2><%= t('user.friends') %></h2>
	<ul>
		<% for friendship in @user.friendships %>
		<% if @current_one %>
		<li>
			<% if accepted_friendship(@user,friendship) %>
			<%= link_to (h friendship.friend.login), user_path(friendship.friend) %>
			(<%= link_to t("user.remove"), destroy_friendship_path(:id  => friendship.id), :confirm  => t('common.confirm')  %>)
			<% else %>
			<%= link_to (h friendship.friend.login), user_path(friendship.friend) %>
			(<%= t('user.not_confirmed_yet') +  ", " %><%= link_to t("user.remove"), destroy_friendship_path(:id  => friendship.id), :confirm  => t('common.confirm') %>)
			<% end %>
		</li>
		<% else %>
		<li>
			<% if accepted_friendship(@user,friendship) %>
			<%= link_to (h friendship.friend.login), user_path(friendship.friend) %>
			<% end %>
		</li>
		<% end %>
		<% end %>
	</ul>
	<% end %>
	
	<% if current_user && @current_one %>
	<% unless friendship_requests.empty?  %>
	<h2><%= t('user.friend_confirm') %></h2>
	<ul>
		<% for user in friendship_requests %>
		<li>
			<%= link_to (h user.login), user_path(user) %>
			<%= link_to t('user.accept'), add_friendship_path(:friend_id  => user.id, :from_user_page  => true) %>
		</li>
		<% end %>
	</ul>
	<% end %>
	<% end %>
</div>





<div class="info_and_entry">
	<div class="account_info">
		<ul>
			<li>
				<%= t "common.login_name" %>: <%=h @user.login %>
			</li>
			<li>
				<% if @user.last_login_at %>
				<%= t "profile.last_login" %>: <%= l @user.last_login_at, :format => :long %>
				<% end %>
			</li>
			<li>
				<%= t "common.email" %>: <%= mail_to h@user.email %>
			</li>
			<% if current_user %>
			<li>
				<div id="button_popup">
					<a href="/sent/new?user=<%= @user.id %>"><%= t("common.send_message_to_user") %></a>
				</div>
			</li>
			<% end %>
			<li>
				<%= link_to t('post.of_this_user'), user_posts_url(@user) %>
			</li>
		</ul>
	</div>

	<h1><%= t "common.profile_entries" %></h1>
	<%= render '/comments/form' %>
	<div id="comments">
		<%= render :partial => '/comments/create' %>
	</div>
</div>



<div class="profile_image">
    <% if @profile_image %>
    <%= image_tag(@profile_image.public_filename()) %>
    <% end %>
</div>
