<% javascript 'jquery', 'jquery.ui', 'jquery.datepicker' %>
<% stylesheet 'jquery_ui' %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$("#from").datepicker({ 
	  dateFormat: 'yy-mm-dd'
	});
	$("#to").datepicker({ 
	  dateFormat: 'yy-mm-dd'
	});
});
</script>
	<div class="event_edit">
		<% form_for(@event) do |f| %>
		<%= f.error_messages %>
		<p>
			<%= f.label t("event.name") %><br/>
			<%= f.text_field :name, :class => 'tb' %>
		</p>

		<p>
			<%= f.label t("event.begin") + ": " %><br/>
			<%= f.text_field :start_at, :class  => 'tb', :id  => 'from' %>
		</p>
		<p>
			<%= f.label t("event.end") + ": " %><br/>
			<%= f.text_field :end_at, :class  => 'tb', :id  => 'to' %>
			
		</p>
		<p>
			<%= f.label t("event.spot") %><br/>
			<%= f.text_field :spot, :class => 'tb' %>
		</p>
		<p>
			<%= f.submit t'common.submit' %>
		</p>
		<% end %>
	</div>
