<% content_for :head do %>
<%= javascript_include_tag 'calendar_date_select/calendar_date_select', 'calendar_date_select/format_euro_24hr' %>
<%= stylesheet_link_tag 'calendar_date_select/silver' %>
<% end %>

<div class="event_edit">
    <% form_for(@event) do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label t("event.name") + ": " %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label t("event.description") %>
        <br/>
        <%= f.text_area :description %>
    </p>
	<p>
        <%= f.label t("event.begin") + ": " %>
        <%= calendar_date_select_tag 'event[start_at]', @event.start_at , :time => true  %>
    </p>
	<p>
        <%= f.label t("event.end") + ": " %>
        <%= calendar_date_select_tag 'event[end_at]', @event.end_at, :time => true  %>
    </p>
    <p>
        <%= f.submit t'common.submit' %>
    </p>
    <% end %>
</div>
