<h1><%= @event.name %></h1>
<% if !@event.end_at.nil? %>
<p>
    <%= t("event.begin") + ": " %><%= @event.start_at %>
</p>
<% end %>
<% if !@event.end_at.nil? %>
<p>
    <%= t("event.end") + ": " %><%= @event.end_at %>
</p>
<% end %>
<p>
    <%= t("event.spot") + ": " %><%= @event.spot %>
</p>


<p>
	<%= link_to t('common.edit'), edit_event_path(@event) %>
</p>