<table>
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<% @tags.each do |tag| %>
	<tbody>
		<tr>
			<td><%=h tag.tag_names.first.name %> / <%=h tag.tag_names.last.name %> 
			<td><%= link_to 'Edit', edit_tag_path(tag) %></td>
			<td><%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	</tbody>
	<% end %>
</table>

<br />

<%= link_to 'New tag', '/tags/new?taggable_type=' + @taggable_type %>