<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	// ajaxing photo description update
	$("#edit_photo_<%= @photo.id %>").live("submit", function(){
		$('#loading_background').removeClass('loading_background_invisible');
		$('#loading_background').addClass('loading_background_visible');
		$.post($(this).attr("action"), $(this).serialize(), null, 'script');
	  	return false;
	});
});
</script>
<div class="loading"></div>
<h2><%= t("photo.description") %></h2>
<% form_tag '/photos/' + @photo.id.to_s, :method => 'put' do |f| %>
<br/>
<p>
	<%= hidden_field_tag :container_type,'', :value => request.url.scan(/container_type=(\w+)/) %>
	<%= text_area_tag :description,'', :class  => 'tb_area_dark' %>
</p>
<p>
	<%= submit_tag  %>
</p>
<% end %>