
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#date_format').remove();
		$("#from").datepicker();
		$("#to").datepicker();
	});
</script>

<% form_tag post_search_url, :id  => 'post_search', :method => :get do %>
 
<p> 
	<%= t('common.from') %>
	<input type="text" id="from" name="from" class="tb_datepicker"/>
	<%= t('common.to') %>
	<input type="text" id="to" name="to" class="tb_datepicker"/>
	<span id="date_format"> (TT/MM/JJJJ)</span>
</p>

<p>	 
	<%= text_field_tag :search, params[:search], :class  => 'tb', :autocomplete => "off" %>
	<%= submit_tag t('common.search'), :id  => 'search_button' %>
</p>
<% end %>


<div id="posts">
	
<%= render 'posts' %>

</div>
