<% title "Category" %>

<p>
  <strong>German Name:</strong>
  <%=h @category.german_name %>
</p>
<p>
  <strong>English Name:</strong>
  <%=h @category.english_name %>
</p>

<p>
  <%= link_to "Edit", edit_category_path(@category) %> |
  <%= link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", categories_path %>
</p>
