<ul id="jsddm">
	<li>
		<%= link_to t('mail.inbox'), inbox_path %>
	</li>
	<li><%= link_to t('mail.sent'), :controller => "sent", :action => "index" %></li>
	<li><%= link_to t('mail.new'), new_sent_path %></li>
	<span class="wojs">
	<li>
		<%= link_to t('mail.inbox_trash'), trash_in_path %>
	</li>
	<li>
		<%= link_to t('mail.sent_trash'), trash_out_path %>
	</li>
	</span>
	<li id="js" class="wjs"><a href="#"><%= t('mail.trash') %></a>
		<ul>
			<li><%= link_to t('mail.inbox'), trash_in_path %></li>
			<li><%= link_to t('mail.sent'), trash_out_path %></li>
		</ul>
	</li>
</ul>



<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){  
		$(".wojs").remove();
		$("#js").removeClass("wjs");
		$("#js").addClass("wjs_visible");
	});
</script>