<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="keywords"
	   content="Violine, Violinen, Geige, Geigen">
  	<title><%= h(yield(:title) || "Untitled") %></title>
	<%= stylesheet_link_tag 'application', '/shadowbox/shadowbox'  %>
	<%= javascript_include_tag 'application', '/shadowbox/shadowbox'   %>
	
	<script type="text/javascript">
		var shadowbox_conf = {
			language: "de-DE",
			players: ["flv", "html", "iframe", "img", "qt", "swf", "wmp"],
			animate: true,
			animateFade: true,
			animSequence: "wh",
			autoDimensions: true,
			modal: false,
			showOverlay: true,
			overlayColor: "#000",
			overlayOpacity: 0.1,
			flashBgColor: "#000000",
			autoplayMovies: true,
			showMovieControls: true,
			slideshowDelay: 0,
			resizeDuration: 0.5,
			fadeDuration: 0.5,
			displayNav: true,
			continuous: false,
			displayCounter: true,
			counterType: "default",
			counterLimit: 10,
			viewportPadding: 20,
			handleUnsupported: "link",
			initialHeight: 160,
			initialWidth: 320,
			enableKeys: true,
			skipSetup: false,
			flashParams: { bgcolor: "#000000", allowFullScreen: true },
			flashVars: {},
			flashVersion: "9.0.0",
			useSizzle: false
		};
		Shadowbox.init(shadowbox_conf);
	</script>
	
	
	<%= yield :head %>
</head>
<body>
	<div id="container" class="container">
		<%= yield %>
	</div>
</body>
</html>
